<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "OverRealm" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>


    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title">OverRealm</h1>
          </section>


          <% if user_signed_in? %>
            <section class="right-small">
              <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
            </section>
          <% else %>
            <section class="right tab-bar-section">
              <h1 class="title">
                <%= link_to 'sign in', new_user_session_path %>
              </h1>
            </section>
          <% end %>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <li><label>Go To</label></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Characters", characters_path %></li>
            <li><%= link_to "Places", places_path %></li>
          </ul>
        </aside>

        <% if user_signed_in? %>
          <aside class="right-off-canvas-menu">
            <ul class="off-canvas-list">
              <li><label><%= current_user.email %></label></li>
              <li><%= link_to 'sign out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </aside>
        <% end %>

        <section class="main-section">
          <!-- content goes here -->
          <%= yield %>
          <div class="row">
            <div class="small-12 columns">
              <p class="text-center">
                &copy; 2015
                <% if admin_user_signed_in? %>
                  | admin user: <%= current_admin_user.email %>
                <% end %>
              </p>
            </div>
          </div>
        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div>

  </body>
</html>
